# 환경 변수 파일
.env
.env.*

# 결과 폴더
result/
result_*/

# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
ENV/

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo
.DS_Store 