# 웹 프레임워크 및 폼 처리
Flask==2.3.3
Flask-WTF==1.2.1
WTForms==3.1.1
email-validator==2.1.0.post1
bcrypt==4.0.1

# 환경 변수 및 설정
python-dotenv==1.0.0

# 웹 요청 및 파싱
requests==2.31.0
beautifulsoup4==4.12.2

# 데이터 처리 및 시각화
tqdm==4.66.1
colorama==0.4.6

# API 연동
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-api-python-client==2.108.0
google-auth-httplib2>=0.1.1

# 기타 유틸리티
xmltodict==0.13.0
Pillow>=9.5.0
feedparser>=6.0.10
openpyxl>=3.1.2
tabulate>=0.9.0
tiktoken>=0.5.2
