# 웹 요청 및 파싱
requests==2.31.0
beautifulsoup4==4.12.2

# 환경 변수 및 설정
python-dotenv==1.0.0

# 데이터 처리 및 시각화
tqdm==4.66.1
colorama==0.4.6

# API 연동
google-auth==2.23.0
google-auth-oauthlib==1.0.0
google-api-python-client==2.108.0

# 기타 유틸리티
xmltodict==0.13.0
Pillow==10.0.0